.search-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 75px;
}

.search-box .search-bar {
    display: block;
    width: 80%;
    padding: 10px;
    appearance: none;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    color: #313131;
    font-size: 20px;
    transition: 0.4s ease;
}

.search-box .search-bar:focus {
    background-color: rgba(255, 255, 255, 0.75);
}

.search-button {
    width: 15%;
    padding: 15px 0;
    background-color: rgba(255, 255, 255, 0.5);
    outline: none;
    border: none;
    border-radius: 16px;


}

.search-button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}